.homePageHeader {
  width: 100%;
  text-align: center;
  z-index: -1;
  position: relative;
  display: inline-block;
}
.homePageHeader .homePageHeaderTitle {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 4%;
  top: 13%;
}
.homePageHeaderImage {
  width: 100%;
}
.homePageHeaderTitle {
  font-family: "Myriad Pro", sans-serif;
  text-align: left;
}
.homePageHeaderTitle h2 {
  color: white;
  letter-spacing: 0.8px;
  font-size: 3.3vw;
  margin-bottom: 0;
}
.homePageHeaderTitle h3 {
  color: #b0faff;
  letter-spacing: 1.3px;
  font-size: 2.2vw;
}
.relatedCardsContainer {
  background-color: rgba(200, 204, 214, 0.5);
  padding: 5rem 10% 5rem 10%;
  margin-top: 3.3rem;
}
.relatedCard {
  transition: 0.5 ease;
  cursor: pointer;
  color: gray;
  box-shadow: 1px 1px 30px 1px #999;
}
@media only screen and (max-width: 768px) {
  .relatedCardResponsive {
    display: none !important;
  }
}
.relatedCard:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 30px 1px #999;
}
.cardLogo {
  width: auto !important;
  margin-bottom: 50px;
}
.relatedCard a {
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 15px;
  text-align: justify;
  color: #ed2a7a;
}
.weCare {
  color: black;
  margin: 11% auto 3%;
}
.pinkButtonWithWhiteText {
  margin: 1.5% 0;
  background-color: #ed2a7a !important;
  border-radius: 10px !important;
  border: none !important;
  height: 2.3rem;
  width: 8rem;
}
.blueButtonWithWhiteText {
  background-color: #6bb2ff !important;
  border-radius: 10px !important;
  border: none !important;
  height: 2.3rem;
  width: 17rem;
  margin-bottom: 11%;
}
.weCare h1 {
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-size: 3.5rem;
  color: #161b50;
  margin-bottom: 3.5%;
}
.weCare p {
  font-family: Roboto, sans-serif;
  text-align: justify;
  font-size: 1.125rem;
  margin-bottom: 1.5%;
  font-weight: 400;
  color: #686868;
}
.blueText {
  color: #125ead;
}
.stories {
  background-color: #f5f9fd;
  height: 34rem;
  padding: 6% 12.4%;
  margin: 0 auto 3%;
}
.stories h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 3.2rem;
  color: #161b50;
  line-height: 60px;
}
.stories p {
  font-size: 1.125rem;
  font-family: Roboto, sans-serif;
  color: #686868;
  text-align: justify;
  width: 90%;
  margin-top: 2rem;
}
.stories .readMore {
  font-size: 20px;
  color: #ed2a7a;
}
.stories a:hover {
  text-decoration: none;
}
.halfFullImage {
  width: 100%;
}
.assessment {
  height: 34rem;
  padding: 7% 15%;
  margin: 2rem auto 8%;
}
.assessment h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 3.2rem;
  color: #161b50;
  line-height: 60px;
  margin-top: 2rem;
}
.assessment p {
  font-size: 1.125rem;
  font-family: Roboto, sans-serif;
  color: #686868;
  text-align: justify;
  width: 90%;
  margin-top: 2rem;
}
.rediectLink {
  margin: 1.5% 0;
  background-color: #ed2a7a !important;
  border-radius: 10px !important;
  border: none !important;
  height: 2.3rem;
  width: 8rem;
}
.homePagewholeCarousel {
  height: 20rem;
  margin: 1.8rem auto 6.5rem !important;
  width: 80%;
}
.carousel {
  /* z-index: -1; */
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 0px 0px #9797974d !important;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23454545' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  margin-right: 90% !important;
  margin-bottom: 20% !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23454545' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  margin-left: 90% !important;
  margin-bottom: 20% !important;
}
